body {
  background-image: url("../assets/home.svg");
  background-size: cover;
  background-repeat: no-repeat;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background-color: rgba(215, 224, 255, 0.26);
  // }
}

// Logo
.logo-container {
  margin-top: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: fit-content;
  object-fit: contain;
}

// Search
.search-container {
  z-index: 1;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  padding-right: 2rem;
}

.search-box {
  z-index: 1;
  padding-left: 1rem;
  border: none;
  outline: none;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
  width: 100%;
}

.search-icon {
  z-index: 1;
  width: 24px;
  object-fit: contain;
}

// On Search
.onsearch-container {
  width: 70%;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 1);
  padding: 1rem 2rem;
}

.onsearch-title {
  font-size: 21px;
  font-weight: 500;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 165px;
}

.card-image {
  width: 100%;
  height: 254px;
  object-fit: cover;
}

.suggested-list {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.suggested-items {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:active {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}
